.js {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
  font-size: 60px;
  color: #0080ff;
  padding-top: 250px;
  /* text-shadow: 5px 2px #009900; */
  text-shadow: 5px 3px 5px #009900;

}

body {
  background: linear-gradient(to left, #00ffbf,#00bfff);
}